<% content_for :title do %>
<h1><%= @track.extended_title %> </h1>
<% end %>

<p>
  <%= @track.title %> is a <%= @track.regular? ? "regular" : "bonus" %> track.
</p>

<pre><%= @track.lyrics %></pre>

<%= render partial: @track.notes %>
<%= render partial: "notes/form", locals: {track: @track} %>

<ul>
  <li><a href="<%= album_url(@track.album) %>">Back to <%= @track.album.title %></a></li>
  <li><a href="<%= edit_track_url(@track) %>">Edit <%= @track.title %></a></li>
  <li><%= destroy_button(track_url(@track), "Delete #{h(@track.title)}") %></li>
</ul>
