<% content_for :title do %>
<h1><%= @album.extended_title %></h1>
<% end %>

<p>
  <%= @album.title %> is a <%= @album.studio? ? "studio" : "live" %> album.
</p>

<h2>Tracks</h2>
<table>
  <thead>
  <tr>
    <th>title</th><th>bonus</th>
  </tr>
  </thead>

  <tbody>
  <% @album.tracks.each do |track| %>
  <tr>
    <td><a href="<%= track_url(track) %>"><%= track.title %></a></td>
    <td><%= track.bonus? ? "&#x2713;".html_safe : "" %></td>
  </tr>
  <% end %>

  <% if current_user.admin %>
  <tr>
    <td><a href="<%= new_track_url %>">Add a Track</a></td>
  </tr>
  <% end %>
  </tbody>
</table>

<ul>
  <li><a href="<%= band_url(@album.band) %>"><%= @album.band.name %></a></li>
  <% if current_user.admin %>
  <li><a href="<%= edit_album_url(@album) %>">Edit Album Information</a></li>
  <li><%= destroy_button(album_url(@album), "Delete #{h(@album.title)}") %></li>
  <% end %>
</ul>
