<%= render(
  partial: "shared/errors",
  locals: {errors: @band.errors.full_messages}
)%>

<br>
<form action="<%= band.persisted? ? band_url(band) : bands_url %>" method="post">
  <%= auth_token %>

  <%= post_or_patch(band) %>

  <label for="band_name">Name</label>
  <input type="text" name="band[name]" value="<%= band.name %>">

  <button><%= band.persisted? ? "Edit" : "Create" %></button>
</form>
