<% content_for :title do %>
<h1><%= @band.name %></h1>
<% end %>

<h2>Albums</h2>
<table>
  <thead>
  <tr>
    <td>title</td><td>Live</td>
  </tr>
  </thead>

  <tbody>
  <% @band.albums.each do |album| %>
  <tr>
    <td><a href="<%= album_url(album) %>"><%= album.title %></a></td>
    <td><%= album.live? ? "&#x2713;".html_safe : "" %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<p>
<a href="<%= bands_url %>">All Bands</a>
</p>
