<% content_for :title do %>
<h1><%= @band.name %></h1>
<% end %>

<h2>Albums</h2>
<table>
  <thead>
  <tr>
    <td>title</td><td>Live</td>
  </tr>
  </thead>

  <tbody>
  <% @band.albums.each do |album| %>
  <tr>
    <td><a href="<%= album_url(album) %>"><%= album.title %></a></td>
    <td><%= album.live? ? "&#x2713;".html_safe : "" %></td>
  </tr>
  <% end %>

  <% if current_user.admin %>
  <tr>
    <td><a href="<%= new_album_url %>">Add an Album</a></td>
  </tr>
  <% end %>
  </tbody>
</table>

<ul>
  <li><a href="<%= bands_url %>">All Bands</a></li>
  <% if current_user.admin %>
  <li><a href="<%= edit_band_url(@band) %>">Edit Band Information</a></li>
  <li><%= destroy_button(band_url(@band), "Delete #{h(@band.name)}") %></li>
  <% end %>
</ul>
