<!DOCTYPE html>
<html>
<head>
  <title>MusicManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield :title %>

<% if logged_in? %>
<%= log_out_button %>
<% end %>

<%= yield %>

</body>
</html>
